/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/05/2016, 16:58:07
    Author     : 01728028221
*/

header {
    height: 50px;
    width: 100%;
    background-color: steelblue;
    border-radius: 6px
}

nav {
    float: left;
    width: 250px;
    height: 500px;
    text-align: center
}

footer {
    height: 30px;
    width: 100%;
    background-color: steelblue;
    clear: both;
    border-radius: 6px
}

#principal {
    width: 50%;
    text-align: center;
    position: absolute;
    left: 25%;
}

#principalEquipe {
    background-color: transparent;
    width: 100%
}

#primeira {
    display: inline-block;
    background-color: red;
    height:280;
    width:250
}
#segunda {
    display: inline-block;
    background-color: yellow;
    height:280;
    width:250
}
#terceira {
    display: inline-block;
    background-color: green;
    height:280;
    width:250
}
